* {
    padding: 0px;
    margin: 0px;
}
body {
    background-image: url("gettyimages-1413571350-640x640.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 5000px;
    text-align: center;
  }
.main {
    margin-top: 20px;
    background-color: red;
    position: relative;
}

.box {
    height: 100px;
    width: 100px;
    
}

footer {
    background-color: crimson;
    padding: 10px;
    text-align: center;
    color: white;
  }
button {
    
}

